<h1>Strats Calculation</h1>

<form action="http://localhost:3000/descriptive_strats/results">
  <div>
  <label>
    Numbers
  </label>
  <input type="text" name="numbers">
  </div>
  <button>Calculate descriptive statistics</button>
</form>
