<h1> Flexible Payment </h1>

<h2> A <%= @number_of_years %> year loan of <%= @present_value %>, with an annual interest rate of <%= @basis_points %>,
  requires a monthly payment of <%= @monthly_payment %>.
</h2>
