<h1> Flexible Payment </h1>

<h2> A <%= @user_provided_year %> year loan of <%= @user_provided_loan %>, with an annual interest rate of <%= @user_provided_rate %>,
  requires a monthly payment of <%= @monthly_payment %>.
</h2>
