<h1> Payment Calculation </h1>

<form action="http://localhost:3000/payment/results">
  <div>
    <li><label>
      APR
    </label>
    <input type="text" name="basis_points"></li>
    <li><label>
      Number of years
    </label>
    <input type="text" name="number_of_years"></li>
    <li><label>
      Principal
    </label>
    <input type="text" name="present_value"></li>
    </div>
    <button>Calculate monthly payment</button>
</form>
