<h1> Payment Results </h1>

<li> APR <%= @basis_points %> </li>
<li> Number of years <%= @number_of_years %> </li>
<li> Principal <%= @present_value %> </li>
<li> Payment <%= @monthly_payment %> </li>
