<h1> Square Root Calculation </h1>

<form action="http://localhost:3000/square_root/results">
  <div>
  <label>
    Enter a number
  </label>
  <input type="text" name="number_to_be_squared">
  </div>
  <button>Calculate square</button>
</form>
