<h1>Square Root Calculations </h1>

<form action ="http://localhost:3000/square_root/results">
  <div>
  <label for="users_number">
    Enter a number
  </label>
  <input id="users_number" type = "text" name="number_to_be_square_rooted">
  </div>
  <button>Calculate square root</button>
</form>
