<h1> Word Count Calculation </h1>

<form action="http://localhost:3000/word_count/results">
  <div>
  <li><label>
    Text
  </label>
  <input type="text" name="text"></li>
  <li><label>
    Special word
  </label>
  <input type="text" name="special_word"></li>
  </div>
  <button>Process Text</button>
</form>
